* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Poppins, sans-serif;
  background-repeat: no-repeat;
}

.webpage-body {
  padding: 0 160px;
}

.webpage-body-2 {
  display: grid;
  flex-direction: column;
}

/* ------------------------------------------------------ Navigation-bar styles */

.navigation-bar {
  height: 60px;
  padding: 18px 160px;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  position: sticky;
  overflow: auto;
  top: 0;
  z-index: 2;
}

.logo {
  width: 105px;
  height: 24px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;
  color: #141718;
}

.logo span {
  color: #6c7275;
}

.menu-pages {
  display: flex;
  gap: 40px;
}

.menu-links {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: #6c7275;
}

.menu-links:hover {
  color: black;
  transform: scale(1.1);
  transition: transform color 0.2s;
}

.menu-links:first-child {
  color: black;
}

.shopping-cart {
  display: flex;
  gap: 16px;
}

.shopping-cart img:hover {
  transform: scale(1.1);
  transition: transform 0.2s;
}
/* ------------------------------------------------------ Slider */
.slider img {
  width: 100%;
}

.swiper-button-next,
.swiper-button-prev {
  background: #ffffff;
  border-radius: 50%;
  width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6c7275;
  margin: 0 32px;
  top: calc(50% - 26px);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: "";
  background: url("./images/arrow.svg");
  display: block;
  width: 32px;
  height: 32px;
}

.swiper-button-next::after {
  background: url("./images/arrow.svg");
  transform: rotate(180deg);
}

.swiper-pagination-bullet {
  background: #fefefe;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  width: 32px;
  border-radius: 100px;
}

.swiper-pagination {
  padding-bottom: 32px;
  min-width: 100px;
}


/* ------------------------------------------------------ header */
.header {
  display: flex;
  justify-content: space-between;
  margin: 32px 0 40px 0;
  align-items: center;
  gap: 15px;
}

.header-slogan {
  font-size: 72px;
  font-weight: 500;
  line-height: 76px;
  letter-spacing: -2px;
  min-width: 575px;
}

.header-description span,
.header-slogan span {
  color: #6c7275;
}

.header-description {
  font-weight: 400;
  max-width: 450px;
  min-width: 200px;
  line-height: 26px;
  text-wrap: wrap;
}



/* ------------------------------------------------------ Categories cascade */
.categories {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 320px 320px;
  gap: 24px;
  justify-content: center;
}

.category {
  max-width: calc(100vw - 32px);
  background-size: contain;
  padding: 48px;
  width: 100%;
  cursor: pointer;
  background-color: #f5f5f7;
}

.category-title {
  color: #141718;
  font-weight: 500;
  letter-spacing: -0.6px;
  line-height: 38px;
  font-size: 34px;
}

.category-link {
  color: #141718;
  font-weight: 500;
  letter-spacing: -0.4px;
  line-height: 28px;
  font-family: Inter, sans-serif;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #141718;
  width: fit-content;
  margin-top: 12px;
}

.category-link::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("https://www.svgrepo.com/show/533621/arrow-sm-right.svg");
  background-size: contain;
}

.category[data-value="living"] {
  background-image: url("./images/living.svg");
  grid-row: 1 / span 2;
  justify-self: end;
}

.category[data-value="bedroom"] {
  background-image: url("./images/bedroom.svg");
}

.category[data-value="kitchen"] {
  background-image: url("./images/kitchen.svg");
}

.category[data-value="kitchen"],
.category[data-value="bedroom"] {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* ------------------------------------------------------ Product carousel - header */

.new-products {
  margin: auto;
  width: 100%;
  height: 669px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  flex-wrap: wrap;
}

.carousel-header {
  width: 150px;
  height: 90px;
  line-height: 44px;
  font-size: 40px;
  font-weight: 500;
  margin: 48px 0;
}

.carousel-header span {
  display: block;
}

.shop-link {
  height: 28px;
  width: 140px;
  font-size: 16px;
  color: black;
  font-weight: 500;
  justify-self: flex-end;
  align-self: flex-end;
  margin: 108px 0 48px 0;
  border-bottom: 2px solid black;
}

.shop-link::after {
  content: "";
  background-image: url(/images/arrow1.svg);
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: contain;
}

.carousel {
  width: 100%;
  height: 485px;
}

/* ------------------------------------------------------ Product carousel - carousel */

.swiper-horizontal > .swiper-scrollbar,
.swiper-scrollbar,
.swiper-scrollbar-horizontal {
  width: calc(100% - 320px);
  left: 160px;
}

.product-carousel {
  min-width: calc(100% + 320px);
  left: -160px;
  height: 485px;
  padding: 0 160px;
  /* overflow: visible; */
}

.product-card {
  max-width: 262px;
  height: 433px;
}

/* ------------------------------------------------------ Product card */

.product-card {
  width: 262px;
  height: 433px;
}

.product-info {
  height: 72px;
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.product-info::before {
  content: "";
  background-image: url(./images/stars.svg);
  width: 88px;
  height: 16px;
  display: block;
}

.product-name {
  line-height: 26px;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
}

.product-price {
  line-height: 22px;
  font-size: 14px;
  font-weight: 600;
}

.product-card::before {
  content: "";
  background-image: url(./images/discount.svg);
  width: 71px;
  height: 24px;
  display: block;
  position: absolute;
  top: 48px;
  left: 16px;
}

.product-card::after {
  background-image: url(./images/new.svg);
  width: 67px;
  height: 24px;
  content: "";
  display: block;
  position: absolute;
  top: 16px;
  left: 16px;
}

.add-button {
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  padding: 8px 70px;
  letter-spacing: -0.4px;
  width: 230px;
  height: 46px;
  background-color: black;
  border-radius: 8px;
  border: none;
  position: absolute;
  top: 287px;
  left: 16px;
  opacity: 0;
}

.add-button:hover {
  background-color: #262626;
  transition: all linear .3s;
}

.add-wishlist-button {
  background-color: #ffffff;
  border-radius: 50%;
  border: none;
  height: 34px;
  width: 34px;
  padding: 7px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 16px;
  right: 16px;
  opacity: 0;
}

.product-card:hover .add-button,
.product-card:hover .add-wishlist-button {
  opacity: 1;
  transition: opacity linear 0.3s;
}

/* ------------------------------------------------------ Service  */
.service {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 220px;
  margin: 48px 0;
  gap: 24px;
}

.help {
  padding: 48px 25px;
  background-color: #f3f5f7;
  height: 220px;
  width: 100%;
  cursor: pointer;
}

.help-title {
  line-height: 28px;
  color: #141718;
  font-weight: 500;
  font-size: 20px;
}

.help-description {
  line-height: 24px;
  color: #6c7275;
  font-weight: 400;
  font-size: 14px;
}

.help::before {
  content: "";
  display: block;
  width: 48px;
  height: 48px;
  background-color: #f3f5f7;
  background-size: contain;
}

.help[data-value="free-shipping"]::before {
  background-image: url("/images/free-shipping.svg");
}

.help[data-value="money-back"]::before {
  background-image: url("/images/money-back.svg");
}

.help[data-value="secure-payment"]::before {
  background-image: url("/images/secure-payment.svg");
}

.help[data-value="24-7-support"]::before {
  background-image: url("/images/24-7-support.svg");
}
/* ------------------------------------------------------ banner */
.banner {
  width: calc(100% + 320px);
  position: relative;
  left: -160px;
  display: flex;
  justify-content: space-evenly;
  background-color: #f3f5f7;
}

.banner-image {
  background-image: url("/images/banner-image.svg");
  width: 100%;
  /* height: 532px; */
}

.banner-content {
  padding: 140px 32px 140px 72px;
  width: 100%;
}
.banner-header {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 452px;
}

.banner-sale {
  color: #377dff;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}

.banner-title {
  font-weight: 500;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: -0.4px;
}

.banner-description {
  font-size: 20px;
  line-height: 32px;
}

.banner-title span {
  display: block;
}

.banner-link {
  margin-top: 24px;
  border-bottom: 2px solid black;
  color: black;
  display: block;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.4px;
  width: 100px;
  height: 28px;
}

.banner-link::after {
  content: "";
  background-image: url(/images/arrow1.svg);
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: contain;
}

/* ------------------------------------------------------ blog */
.blog-section {
  min-height: fit-content;
  width: 100%;
  padding: 80px 0;
}

.blog-section-1 {
  display: flex;
  width: 100%;
  height: 44px;
  justify-content: space-between;
  margin-bottom: 40px;
  gap: 25px;
  flex-basis: auto;
}

.blog-header {
  font-size: 40px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: -0.4px;
}

.blog-link {
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.4px;
  display: block;
  color: black;
}

.blog-section-1 .blog-link {
  margin: 8px 0;
  width: 122px;
  height: 28px;
  border-bottom: 2px solid black;
}

.blog-link::after {
  content: "";
  background-image: url(/images/arrow1.svg);
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: contain;
}

.blog-section-2 {
  display: flex;
  gap: 25px;
  width: 100%;
}

.article {
  width: 33.33333%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.article img {
  width: 100%;
  height: fit-content;
}

.blog-content {
  height: fit-content;
  width: 100%;
}

.blog-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  max-height: 56px;
  width: 100%;
}

.blog-content .blog-link {
  width: 103px;
  height: 28px;
  border-bottom: 2px solid black;
}

/* ------------------------------------------------------- footer */

.footer {
  width: 100%;
  background-color: #232627;
  padding: 80px 160px 32px 160px;
  display: flex;
  flex-direction: column;
  gap: 49px;
}

.footer a {
  color: white;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.logo-slogan {
  display: flex;
  gap: 32px;
  width: fit-content;
}

.footer-logo {
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  display: flex;
}

.footer-logo::after {
  content: "";
  background-color: #6c7275;
  width: 1px;
  height: 24px;
  display: inline-block;
  margin: 0 0 0 32px;
  position: relative;
  top: 4px;
}

.footer-logo span {
  color: #6c7275;
}

.footer-slogan,
.footer-navbar a {
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  font-family: "inter";
  color: white;
}

.footer-navbar {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

.footer-bar {
  display: flex;
  border-top: 1px solid #6c7275;
  justify-content: space-between;
  padding: 16px 0;
}

.copyright {
  display: flex;
  gap: 28px;
}

.copyright:first-child div,
.copyright a {
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
}

.copyright a {
  font-weight: 600;
}

.copyright:first-child div {
  font-weight: 400;
  color: #e8ecef;
  text-align: center;
}

.social-icon {
  display: flex;
  gap: 24px;
}

.social-icon img {
  height: 24px;
  width: 24px;
}

@media screen and (max-width: 1200px) {
  /* ------------------------------------------------------ header */
  .header-slogan {
    font-size: 61px;
    line-height: 65px;
    min-width: 460px;
  }

   /* ------------------------------------------------------ service */
  .service {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 198px);
    margin: 32px 0;
    gap: 24px 8px;
  }

  .help {
    max-width: 500px;
    width: 100%;
    height: 198px;
    padding: 32px 14px;
  }

  .help[data-value="free-shipping"],
  .help[data-value="secure-payment"] {
    gap: 20px;
  }


  /* ------------------------------------------------------ footer */
  .footer {
    width: 100%;
    padding: 48px 25px 48px 32px;
  }

  .footer-content {
    gap: 40px;
  }

  .footer-content,
  .footer-bar,
  .footer-logo {
    flex-direction: column;
  }

  .logo-slogan {
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .footer-logo {
    font-size: 24px;
    line-height: 24px;
    display: block;
    gap: 16px;
  }

  .footer-logo::after {
    content: "";
    background-color: #6c7275;
    position: relative;
  }

  .footer-navbar {
    justify-content: center;
  }

  .copyright {
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
  }

  .copyright:first-child div {
    order: 1;
  }

  .social-icon {
    justify-content: center;
    gap: 24px;
    margin-bottom: 32px;
    order: -1;
  }
}
@media screen and (max-width: 992px) {
  body {
    position: relative;
    width: 100%;
  }

  .webpage-body {
    padding: 0 32px;
  
  }

  /* ------------------------------------------------------ navigation bar */

  .navigation-bar {
    padding: 18px 32px;
  }

  .menu-pages {
    display: none;
  }
  /* ------------------------------------------------------ Slider  */
  .slider {
    max-width: 100%;
    height: 100%;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }

  .slider img {
    height: 304px;
    object-fit: cover;
  }

  .swiper-pagination {
    padding-bottom: 16px;
  }


  /* ------------------------------------------------------ categories */
  .categories {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 180px);
    gap: 16px;
    justify-items: center;
  }

  .category {
    background-position: right;
  }

  .category[data-value="living"] {
    justify-self: center;
  }

  /* ------------------------------------------------------ Product carousel-header */

  .new-products {
    height: 680px;
  }

  .carousel-header {
    margin: 32px 0 40px 0;
    height: 76px;
    font-size: 34px;
  }

  .shop-link {
    order: 1;
    margin: 40px 0 32px 0;
  }

  .carousel {
    height: 436px;
  }

  /* ------------------------------------------------------ Product carousel - carousel */
  .swiper-horizontal > .swiper-scrollbar,
  .swiper-scrollbar.swiper-scrollbar-horizontal {
    left: 30px;
    margin: 40px 0;
    width: calc(100% - 64px);
  }

  .product-carousel {
    width: calc(100% + 64px);
    left: -32px;
    height: 476px;
    min-width: 100%;
    padding: 0 32px;
  }

  .product-card {
    width: 231px;
    height: 392px;
  }

  /* ------------------------------------------------------ Product card */
  .product-image {
    width: 231px;
    height: 308px;
  }

  .add-button {
    width: 202px;
    height: 40px;
    font-size: 16px;
    padding: 6px 55px;
    left: 14px;
    top: 253px;
  }
}


@media screen and (max-width: 768px) {
  /* ------------------------------------------------------ header */
  .header-slogan {
    width: calc(340px);
    font-size: 40px;
    min-width: 310px;
    line-height: 44px;
  }

  .header-description {
    font-size: 14px;
    line-height: 22px;
    width: fit-content;
  }
}


@media screen and (max-width: 576px) {
  /* ------------------------------------------------------ navigation bar */
  .search-button,
  .account-link {
    display: none;
  }
  /* ------------------------------------------------------ footer */
  .footer-navbar {
    align-items: center;
    justify-content: center;
  }

  .footer-bar {
    padding: 24px 0;
  }

  .logo-slogan,
  .footer-navbar {
    flex-direction: column;
  }

  .footer-logo::after {
    content: "";
    background-color: #6c7275;
    width: 24px;
    height: 1px;
    display: block;
    margin: 16px auto 0px auto;
  }

  /* ------------------------------------------------------ header */
  .header {
    flex-wrap: wrap;
    gap: 16px;
  }

  .header-slogan {
    font-size: 36px;
  }

/* ------------------------------------------------------ Service */
  .help-title {
    font-size: 14px;
    line-height: 22px;
  }

  .help-description span {
    display: block;
  }

  
  /* ------------------------------------------------------ banner */
  .banner {
    /* flex-direction: column; */
    /* height: fit-content; */
    left: -32px;
    width: calc(100% + 64px);
  }

  .banner-content {
    padding: 58.5px 32px;
    max-width: 430px;
  }

  .banner-image {
    background-size: cover;
  }

      .banner-title {
    font-size: 34px;
    line-height: 38px;
    letter-spacing: -0.6px;
  }

  .banner-description {
    font-size: 16px;
    line-height: 26px;
  }

  .banner-link {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0;
  }

}

@media screen and (max-width: 768px) {
  /* ------------------------------------------------------ blog */
  .blog-section {
    padding: 40px 0;
  }

  .blog-header {
    font-size: 34px;
    line-height: 38px;
    letter-spacing: -0.6px;
  }

  .blog-section-2 {
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .article {
    height: fit-content;
    width: 45%;
  }

  .blog-content {
    height: 58px;
  }

  .blog-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
  }

  .blog-link {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0;
  }

  /* ------------------------------------------------------ banner */
  .banner {
    flex-direction: column;
  }

  .banner-image {
      height: 510px;

  }


}


@media screen and (max-width: 576px) {
  /* ------------------------------------------------------ navigation bar */
  .search-button,
  .account-link {
    display: none;


  /* ------------------------------------------------------ Product carousel - carousel */
  .swiper-horizontal > .swiper-scrollbar,
  .swiper-scrollbar.swiper-scrollbar-horizontal {
    left: 30px;
    margin: 40px 0;
    width: calc(100% - 64px);
  }

  .product-carousel {
    width: calc(100% + 64px);
    left: -30px;
    height: 476px;
    min-width: 100%;
  }

  .product-card {
    width: 231px;
    height: 392px;
  }

  
  /* ------------------------------------------------------ banner */
  .banner {
    max-height: 734px;
    order: -1;
  }

  .banner-image {
    height: 367px;
  }





  /* ------------------------------------------------------ blog */
  .blog-section {
    height: fit-content;
  }

  .blog-section-1 {
    gap: 22px;
  }

  .article {
    width: 100%;
  }

  .blog-section-1 .blog-link {
    width: 112px;
  }
}
}



